.btn {
  padding: 4px 12px;
  cursor: pointer;
}
.shopping-header {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.shopping-header__cart-button {
  position: relative;
  display: inline-block;
}

.shopping-header__cart-button > button {
  padding: 4px 12px;
}
.cart-popup {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 999;
}

.cart-content {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-content > .product-list {
  box-sizing: border-box;
  padding: 0 0 10px 0;
}

.cart-content > .product-list > .product {
  box-sizing: border-box;
  padding: 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-content > .product-list > .product > .product-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
